
header, footer, nav, aside{ 
    display: block;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#wrapper{
    margin: 0 auto;
    width: 960px;
    padding: 10px;
}

header{
    height: 170px;
    background-color: #3366ff;
}

header #logo{
    float: left;
    width: 220px;
    height: 150px;
    padding: 10px;
    color: #333222;
}

header #banner{
    float: left;
    width: 700px;
    height: 150px;
    padding: 10px;
    color: #333333;
}

nav{
    height: 34px;
    padding: 0 10px;
    background-color: #ccffcc;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    float: left;
}

nav li a:link,nav li a:visited{
    display: block;
    color: #006666;
    font-size: 1.2em;
    font-family: cursive;
    padding: 3px 5px;
    text-decoration: none;
    margin-right: 10px;
}

nav li a:hover{
    color: #00cc00;
    background-color: #ccffcc;
    box-shadow: 0 0 10px 0 #3366ff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#subheader{
    
    width: 960px;
    height: 5px;
    background-color: #ff3333;
}

section{
    height: 500px;
}

section #content{
    float: right;
    width: 720px;
    padding: 10px 20px;
    min-height: 500px;
    background-color: #AAC;
}

section #content h3{
    color: #666666;
    font-family: Gill, Helvetica, sans-serif;
    text-align: center;
}

section table{
    
    width: 688px;
    padding: 10px;
    margin: 10px auto;
}

section table, tr, td, th{
    
    border: 1px solid #000000;
}

section table th{
    
    color: #ffffff;
    background-color: #7385BA;
}

section table tr, section table td{
    
    text-align: center;
    padding: 5px;
}

section #content p{
    color: #444;
    font-family: cursive;
}

section aside{
    float: left;
    width: 160px;
    padding: 10px 20px;
    min-height: 500px;
    color: #333;
    background-color: #222;
}

section aside ul{
    
    list-style: none;
    margin: 0;
    padding: 0;
}


aside ul li a:link, aside ul li a:visited {
    
    color: #3366ff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

aside ul li a:hover {
    
    color: #ff3333;
    text-decoration: underline;
    font-family: sans-serif;
}

footer{
    clear: both;
    padding: 5px 10px;
    color: #222;
    font-family: fantasy;
    font-size: .8em;
    text-align: center;
    background-color: #6666ff;
}

.clearfix:before, .clearfix:after {
	
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

a:link, a:visited {
    
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

a:hover {
    
    color: #ff3333;
    text-decoration: underline;
}