@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

#slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 960px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.previous, a.next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.previous:hover, a.next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.previous {
  border-radius: 0 2px 2px 0;
}

a.next {
  right: 0;
  border-radius: 2px 0 0 2px;
}